@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.page-header {
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-header span {
  font-family: "Nerko One", cursive;
  font-weight: bold;
  font-size: 50px;
  position: relative;
}

.page-header span::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 12%;
  left: 25%;
  border-bottom: 2px solid #4b3f3f;
}
.breadcrumb {
  line-height: 0;
  background-color: transparent !important;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.about {
  margin: 20px 100px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 0px solid #4b3f3f;
  box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
}
