@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

.heading {
  padding: 17vh 0 0;
  text-align: center;
}

.heading p {
  line-height: 2 !important;
}

.heading h2 span {
  font-size: 16px;
  font-weight: bold;
}

.cards {
  padding: 3vh 31px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards .Technology {
  background: url("../images/tech.png");
  background-position: center;
  background-size: cover;
  border: 0;
  border-radius: 8px;
  height: 300px;
  width: 325px;
  margin: 3vw 0;
}

.cards .Technology .category {
  color: white;
}
.cards .Sports {
  background: url("../images/sport.jpg");
  background-position: center;
  background-size: cover;
  border: 0;
  border-radius: 8px;
  height: 300px;
  width: 325px;
  margin: 3vw 0;
}
.cards .Entertainment {
  background: url("../images/entertainment.jpeg");
  background-position: center;
  background-size: cover;
  border: 0;
  border-radius: 8px;
  height: 300px;
  width: 325px;
  margin: 3vw 0;
}
.cards .Entertainment .category {
  color: white;
}
.cards .Weather {
  background: url("../images/weather.jpg");
  background-position: center;
  background-size: cover;
  border: 0;
  border-radius: 8px;
  height: 300px;
  width: 325px;
  margin: 3vw 0;
}

.category {
  padding: 20px;
  font-size: 16 px;
  text-align: right;
  font-weight: bolder;
  letter-spacing: 3px;
}

.cover {
  background: rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 9px;
}

.content {
  background: transparent;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  color: rgb(255, 255, 255);
}

.content h2 {
  font-size: large;
  font-weight: bold;
  font-family: "Open Sans", sans-serif !important;
  margin-bottom: 20px;
}

.content p {
  font-family: "Open Sans", sans-serif !important;
}

.author {
  display: flex;
}

.author h4 {
  font-size: medium;
}

.author-pp {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: url("../images/pp.jpeg");

  background-position: center;
  background-size: cover;
  margin-right: 20px;
}
